body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  text-align: center;
  font-family: 'Faustina', serif;
  color: #40514E;
  font-weight: bold;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Great Vibes', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2rem;
  font-family: 'Sansita', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Sansita', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Faustina', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
p {
    line-height: 2;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 275px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}
.top-container {
  background-color: Azure;
  position: relative;
  padding: 100px;
}
.middle-container {
margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.CSA {
  text-decoration: underline;
}
.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.sys-admin {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.customer-service {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.javascript {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programming {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.author {
  color: #EAF6F6;
  font-size: 0.75rem;
  font-weight: normal;
  padding: 20px 0px;
}

.btn {
  display: inline-block;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 40px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.profile {
  margin: 60px auto;
}

.memoji {
  width: 25%;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
